.nav{
    display: flex;
    /* position: fixed; */
    /* border: 2px solid red; */
    width: 100%;
    height: 70px;
    /* margin-top: 100px; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo{
    width: 170px;
    height: 70px;
    margin-left: 130px;
    margin-right: 50px;
    margin-top: 0px;
}
.dropdowns a button{
    margin-left:50px ;
}
.dropdowns {
    display: inline-block;
    position: relative;
    /* background-color: white; */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: white;
    /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); */
  }
  .dropdowns:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    color: blue;
  }
  


  /* searchbar */


  #Searchbar {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    width: 70%;
    height: 65px;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fcfdfe
}

input {
    height: 20px;
    border: none;
    outline: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    height: 20px;
}

div>img {
   
    margin: 5px 0px 0px 10px;
    padding-left: 10px;
}

img>input {
    padding-bottom: 10px;
}

select {
    border: none;
}

#button {
    padding: 11px 28px;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    background: #457eff;
    box-shadow: 0 5.07692px 12.6923px rgb(69 126 255 / 10%);
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    border: none;
}




  /* buttons */

  #btd_sc{
    display:flex;
    justify-content: center;
    gap:15px;
    margin-top: 60px;
   }
   #btm_sc{
    display:flex;
    justify-content: center;
    gap:15px;
    margin-top: 25px;;
   }
    #btn_sc{
    display:flex;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:10px;
    border-bottom-right-radius: 15px;
    border-top-left-radius:15px ;
    border:rgb(237, 244, 246) 2px solid;
    background-color: white;
}
#btn_sc>img{
    width:40px;
    margin:auto;
    
}

#btn_sc>h3{
    text-align: center;
    margin:auto;
    line-height: 10px;
    
}
#btn_sc>h3{
    display:flex;
    justify-content: center;
}
#btn_sc:hover{
    box-shadow: rgba(95, 217, 247, 0.25) 0px 6px 12px -2px, rgba(129, 225, 249, 0.3) 0px 3px 7px -3px;
}



/* slider */

.container2 div{
    /* background-color: black; */
    width: 96%;
    margin: auto;
    /* background-color: #a72112; */
    margin-top: 20px;
    
   }
   /* .container2{
    border: 2px solid blue;
   } */
   
   .container2 button{
    background-color: rgb(0, 0, 0);
    border: 10%;
    /* padding: 1%; */
    margin-right: 3%;
    margin-left: 2%;
   }
   .container2 button:hover{
    background-color: black;
   }
   .slider2{
    /* border: 2px solid red; */
    margin-bottom: 100px;
    height: 205px;
   }
   .slider2 img{
    display: block;
    border: 1px solid rgb(226, 224, 224);
    width: 88%;
    height: 150px;
    margin-bottom: 80px;
    border-bottom-right-radius: 20px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px ;
    /* margin-right: 40px; */
   }
   .slider2 img:hover{
    box-shadow: rgba(95, 217, 247, 0.25) 0px 6px 12px -2px, rgba(129, 225, 249, 0.3) 0px 3px 7px -3px;
   }
   .slider2 a{
    width: 100%;
    margin-left: 10px;
    margin: auto;
    /* border: 2px solid green; */
   }
   .slider2 a:nth-child(1){
    margin-right: -4px;
   }
   .slider2 a p{
    color: rgb(58, 50, 50);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: lighter;
      font-size: 15px;
   }
   .slider2 a p:hover {
    color:teal;
   }

/* second slider */

#s2{
    
        /* border: 2px solid red; */
        margin-bottom: 100px;
        height: 330px;
       
}
#s2 img:hover{
    box-shadow: rgba(95, 217, 247, 0.25) 0px 6px 12px -2px, rgba(129, 225, 249, 0.3) 0px 3px 7px -3px;
}



/* pictures */


#parent{
    height: 500px;
    width: 80%;
    margin:auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 60px;
}
#child1{
    height: 310px;
    width: 40%;
    background-color: rgb(255, 254, 242);
    border-radius: 5px;
    color:#1b2437;
    box-sizing: border-box;
    text-align: left;
}
#child1>img{
    height: 103px;
    width: auto;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: -10px;
}
#child1>h2{
    text-align: left;
    margin-left: 100px;
    font-size: 27px;
   padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
#child1>p{
    margin-left: 100px;
    margin-right: 70px;
    margin-top: -10px;
   padding-bottom: 10px;
    text-align: left;
    color: #8292b4;
}
#child2{
    height: 90%;
    width: 50%;
    border:1px solid #dbe3f4;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 80px 50px 80px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
#child2>div{
    border: 1px solid #dbe3f4;
    border-radius: 10px;
    line-height: 5px;
    padding-left: 15px;
}
#child2>div:hover{
    cursor: pointer;
    margin: -5px;
}
#child2 h4{
    color:#1b2437;
    font-weight: 100;
    padding-top: 20px;
    text-align: left;
}
#child2 p{
    color: #8292b4;
    padding-top: 15px;
    text-align: left;
    font-size: 15px;
}
#child2 div a{
    text-decoration: none;
}


/* second navbar */

#sam{
    display:flex;
    width:50%;
    margin:auto;

    align-items: center;
   margin-top: 30px;
   margin-bottom: 30px;

}
#btn1{
    border:none;
    border-radius:40px;
    height:auto;
    width:auto;
    margin:auto;
    padding:15px;
    border: 1px solid gray;
    background-color: white;
}
#btn1:hover{
    box-shadow: rgba(69, 226, 247, 0.05) 0px 6px 24px 0px, rgba(116, 218, 246, 0.08) 0px 0px 0px 1px;
    /* margin:-5px; */
}



/* banner */
.b{
    background-color: white;
}
.b:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}